
body { background-color: whitesmoke; color: rgba(255, 255, 255, 0.7); font-family: "Montserrat", sans-serif; cursor: default; margin: auto 0; }

/* MODAL start */
.modal-content { display: flex; flex-direction: column; justify-content: center; align-items: center; background-color: #fff; padding: 20px; border-radius: 5px; width: 500px; color: #2d3748; }
.modal-header { font-size: 1.5rem; font-weight: 600; margin-bottom: 20px; }
.modal-input-header { font-weight: 600; margin-bottom: 10px; }
.modal-input { width: 100%; height: 30px; border: 1px solid #ccc; border-radius: 5px; padding: 5px; }
.modal-status-select { width: 100%; height: 30px; border: 1px solid #ccc; border-radius: 5px; padding: 5px; margin-bottom: 20px; }
.modal-textarea { width: 100%; height: 100px; border: 1px solid #ccc; border-radius: 5px; padding: 5px; margin-bottom: 20px; resize: vertical; }
.modal-actions { display: flex; justify-content: space-between; align-items: center; width: 100%; }
.modal-btn { padding: 10px 20px; border-radius: 5px; cursor: pointer; }
.modal-btn-cancel { background-color: #e53e3e; color: #fff; border: none; }
.modal-btn-cancel:hover { background-color: #c53030; }
.modal-btn-submit { background-color: #2d3748; color: #fff; border: none; }
.modal-btn-submit:hover { background-color: #4a5568; }
.modal-question { font-size: 1.2rem; font-weight: 600; margin-bottom: 20px; }
/* MODAL end */

/* LEFT & RIGHT SIDE start */
.left-side { width: 50%; float: left; }
.right-side { width: 50%; float: left; }
/* LEFT & RIGHT SIDE end */

/* LEFT SIDE start */
.left-side .no-tickets { font-size: 1.2rem; font-weight: 600; margin-bottom: 20px; text-align: center; color: #2d3748; }
.left-side .ticket-item { padding: 10px; margin: 10px; min-height: 20px; min-width: 200px; color: #2d3748; list-style-type: none; background: grey; }
.left-side .search-wrapper {display: flex; justify-content: center; align-items: center; margin: 20px; padding: 10px; background-color: #fff; border-radius: 5px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);}
.left-side .search-wrapper .search-input {width: 100%; height: 30px; border: 1px solid #ccc; border-radius: 5px; padding: 5px;}
.left-side .search-wrapper .clear-search {background-color: #e53e3e; color: #fff; border: none; border-radius: 5px; padding: 5px 10px; cursor: pointer; margin-left: 10px;}
.left-side .ticket-item-content { display: flex; justify-content: space-between; align-items: center; }
.left-side .ticket-ticket { display: flex; flex-direction: column; justify-content: center; align-items: center; margin-right: 10px; }
.left-side .ticket-status { font-size: 0.8rem; font-weight: 600; color: #2d3748; }
.left-side .ticket-time { font-size: 0.8rem; }
.left-side .ticket-customer-name { font-size: 1.2rem; }
.left-side .ticket-actions { display: flex; justify-content: space-between; align-items: center; }
.left-side .ticket-edit-btn { background-color: #2d3748; color: #fff; border: none; border-radius: 5px; padding: 5px 10px; cursor: pointer; margin: 0 5px; }
.left-side .ticket-edit-btn:hover { background-color: #4a5568; }
.left-side .ticket-delete-btn { background-color: #e53e3e; color: #fff; border: none; border-radius: 5px; padding: 5px 10px; cursor: pointer; margin: 0 5px; }
.left-side .ticket-delete-btn:hover { background-color: #c53030; }
/* LEFT SIDE end */

/* RIGHT SIDE start */
.right-side .right-side-wrapper { display: flex; flex-direction: column; justify-content: center; align-items: center; background-color: #fff; padding: 20px; border-radius: 5px; color: #2d3748; }
.right-side .add-ticket-header { font-size: 1.5rem; font-weight: 600; margin-bottom: 20px; }
.right-side .add-ticket-input-header { font-weight: 600; margin-bottom: 10px; }
.right-side .add-ticket-input { width: 100%; height: 30px; border: 1px solid #ccc; border-radius: 5px; padding: 5px; }
.right-side .add-ticket-select { width: 100%; height: 30px; border: 1px solid #ccc; border-radius: 5px; padding: 5px; margin-bottom: 20px; }
.right-side .add-ticket-textarea { width: 100%; height: 100px; border: 1px solid #ccc; border-radius: 5px; padding: 5px; margin-bottom: 20px; resize: vertical; }
.right-side .add-ticket-actions { display: flex; justify-content: space-between; align-items: center; width: 100%; }
.right-side .add-ticket-btn { padding: 10px 20px; border-radius: 5px; cursor: pointer; }
.right-side .add-ticket-btn-cancel { background-color: #f6e05e; color: #2d3748; border: none; }
.right-side .add-ticket-btn-cancel:hover { background-color: #ecc94b; }
.right-side .add-ticket-btn-submit { background-color: #2d3748; color: #fff; border: none; }
.right-side .add-ticket-btn-submit:hover { background-color: #4a5568; }
/* RIGHT SIDE end */
